.cart-container {
  margin-top: 25px !important;
  flex-direction: column;
  border-radius: 5px;
  height: 800px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  button {
    font-size: 20px;
  }
}
.cart-content {
  .card {
    cursor:default;
  }
  padding: 20px;
  h4 {
    margin: 0
  }
  .row {
    margin-top: 20px !important;
  }
}
.card-footer {
  display: flex;
  .counter {
    height: 40px;
    display: flex;
    width: 30px;
    p {
      width: 100%;
      text-align: center;
    }
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 0 2px rgb(0,0,0,0.4);
  }
  .minus-btn {
    cursor: pointer;
    padding-bottom: 4px;
    background: transparent;
    border: none;
    border-top-left-radius: 5px;
    text-align: center;
    border-bottom-left-radius: 5px;
    box-shadow: -2px 0 2px rgb(0,0,0,0.4);
  }
  .plus-btn {
    cursor: pointer;
    padding-bottom: 4px;
    background: transparent;
    border: none;
    border-top-right-radius: 5px;
    text-align: center;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 0 2px rgb(0,0,0,0.4);
  }
}
.cart-buy-btn {
  text-align: center;
}
